@model IEnumerable<PerpustakaanViewModel.BukuViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KodeBuku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodePenerbit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JudulBuku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jumlahBuku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pengarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TahunTerbit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KodeBuku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodePenerbit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JudulBuku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jumlahBuku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pengarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TahunTerbit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
